# Target
CONFIG_IDF_TARGET="esp32s3"

# Bluetooth - NimBLE (broadcaster only; nothing to connect to)
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_ROLE_PERIPHERAL=y
CONFIG_BT_NIMBLE_ROLE_CENTRAL=n
CONFIG_BT_NIMBLE_ROLE_OBSERVER=n
CONFIG_BT_NIMBLE_ROLE_BROADCASTER=y

# Log level
CONFIG_LOG_DEFAULT_LEVEL_INFO=y